<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Votaciones UCA </title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico" />

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/line-icons.css" rel="stylesheet" />
    <link href="~/Content/css/slicknav.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>

    <header id="header-wrap">
        <nav class="navbar navbar-expand-lg fixed-top  bg-blue">
            <div class="container">
                <div class="theme-header clearfix">

                    <div class="navbar-header">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="lni-menu"></span>
                            <span class="lni-menu"></span>
                            <span class="lni-menu"></span>
                        </button>
                        <a id="logoLink" href="#" class="navbar-brand">
                            <img src="~/Content/img/logo-psd.png" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse float-right" id="main-navbar">
                        <div class="header-top-right float-right">
                            <span><i class="lni-user"></i><span id="usuarioActual" style="margin-left: 10px">Hola!</span></span> |
                            <a href="@Url.Action("Acceso","Inicio")" class="bg-blue " id="CerrarSesion"><i class="lni-exit"></i> Cerrar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>

        </nav>

    </header>

    <div class="container">
        @RenderBody()
    </div>


    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>

    <script src="~/Content/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/wow.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.slicknav.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/sweetalert2.min.js"></script>
    <script src="~/Content/js/script.js"></script>

    <script>
        $(document).ready(function () {
            UsuarioActual();

            var usuario = $('#usuarioActual').text();
            if (usuario === 'admin') {
                $("#loginLink").href = "@Url.Action("Gestion", "Inicio")";
            }
            else {
                $("#loginLink").href = "@Url.Action("Votaciones", "Inicio")";
            }

        });
    </script>

    @RenderSection("scripts", required: false)

</body>

</html>
